<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="static/css/site.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="static/js/modernizr-2.8.3.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-custom-lightmode">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Social Networking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Utilities
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item toggleTables">Toggle Tables</a></li>
                        <li><a class="dropdown-item" href="/contact">Contact</a></li>
                        <li><a class="dropdown-item" href="/contact">Contact</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <!-- <textarea class="form-control me-2" type="search" placeholder="Search" aria-label="Search"></textarea>
                <button class="btn btn-outline-success" type="submit">Search</button> -->
                <input class="form-control me-2" id="query" name="query" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


<div class="tall-container body-content" id="tall">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="control-pane">
        {% block content2 %}
        {% endblock %}
        </div>
    </div>

    <div id='wrapper'>
        <div id='threes'>
            <span style="font-size:30px;cursor:pointer;display:inline" onclick="openNav()">&#9776;</span>
            <span style="font-size:30px;cursor:pointer;display:inline" onclick="toggleTop()">&#9777;</span>
            <span style="font-size:30px;cursor:pointer;display:inline" onclick="nightMode()">&#9778;</span>
        </div>

        <div id='status'>
            Events Here
        </div>
        <div id='cy'>

        </div>
    </div>

    <script src="static/js/sidenav_main.js"></script>

</div>


<div class="container">
    {% block content %}
    {% endblock %}
</div>
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © {{ year }} Jacob Quisenberry
    </div>
</footer>


<script src="https://unpkg.com/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>




</body>
</html>
