{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>Welcome to my web application!</h1>
<hr/>
<div id="footer">
    <p class="copyright">
        © Copyright 2023
    </p>
    <p class="location">
        Location
    </p>
    <p class="tagline">
        Tagline
    </p>
</div>
<script src="static/js/respond.js"></script>
<script src="static/js/app.js"></script>
<script src="static/js/appX.js"></script>
<script src="static/js/cytoscape.js"></script>
<script src="static/js/weaver.min.js"></script>
<script src="static/js/cytoscape-spread.js"></script>
<script src="static/js/cytoscape-cose-bilkent.js"></script>
{% endblock %}