
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<!--<script src="cytoscape.js"></script>-->
        <script src="{{ url_for('static', filename='cytoscape.js') }}"></script>
		<script src="{{ url_for('static', filename='cytoscape-cose-bilkent.js') }}"></script> <!--1.6.1 -->
		<script src="{{ url_for('static', filename='jquery.js') }}"></script> <!--3.2.0 -->
        <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
		<!--<script src="app.js"></script>-->

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='Site.css') }}">

        <script>
            window.onload = function () {
                updateCytoscapeDataGeneration10("all","all");
                setupGraph();
            };

        </script>


		


	</head>
	<body>
	
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


        <div id="control-pane">

            <span class="line"></span>
            <p></p>

            <h3>Main Options (TODO)</h3>
            <div>
                <div class="dropdown" style="display:inline-block;">

                    <button class="btn btn-primary dropdown-toggle" type="button" id="depthMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Graph Depth
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" onclick="setDepth(1.0)">One Level</a></li>
                        <li><a href="#" onclick="setDepth(1.5)">One Level with Interconnections</a></li>
                        <li><a href="#" onclick="setDepth(2.0)">Two Levels</a></li>
                    </ul>
                </div>

                <div class="dropdown" style="display:inline-block;">

                    <button class="btn btn-primary dropdown-toggle" type="button" id="tableMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Table Type
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#" onclick="setupTable('senders'); populateSenderTable2();">Top Senders</a></li>
                        <li><a href="#" onclick="setupTable('recipients'); populateRecipientTable2();">Top Recipients</a></li>
                        <li><a href="#" onclick="setupTable('sendersAndRecipients'); populatePairTable2();">Top Sender &#x27FA; Recipient Pairs</a></li>
                    </ul>

                </div>

                <div class="dropdown" style="display:inline-block;">

                    <button class="btn btn-primary dropdown-toggle" type="button" id="tableMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Maximum Participants
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#" onclick="setMaximumParticipants(2000000000);">Unlimited</a></li>
                        <li><a href="#" onclick="setMaximumParticipants(1);">1</a></li>
                        <li><a href="#" onclick="setMaximumParticipants(2);">2</a></li>
                        <li><a href="#" onclick="setMaximumParticipants(5);">5</a></li>
                    </ul>

                </div>

                <div class="dropdown" style="display:inline-block;">

                    <button class="btn btn-primary dropdown-toggle" type="button" id="tableMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Geometry
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#" onclick="setCytoscapeStyle('concentricNoOverlap');">Concentric - No Overlap</a></li>
                        <li><a href="#" onclick="setCytoscapeStyle('concentricWithOverlap');">Concentric</a></li>
                        <li><a href="#" onclick="setCytoscapeStyle('grid');">Grid</a></li>
                        <li><a href="#" onclick="setCytoscapeStyle('spread');">Spread</a></li>
                        <li><a href="#" onclick="setCytoscapeStyle('cose');">CoSE</a></li>
                        <li><a href="#" onclick="setCytoscapeStyle('cose-bilkent');">CoSE-Bilkent</a></li>
                    </ul>

                </div>



            </div>



            <div>


                <h3 id="ParticipantTableTitle">Top Senders Table (TODO)</h3>

                <table class="table" id="senderRecipientsTable">
                    <thead>
                        <tr id="participantHeader">
                            <th>Sender</th>
                            <th>Recipient</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody id="senderRecipientsTableBody">

                    </tbody>
                </table>

            </div>




            <div id="dump" class="hidden"></div>
        </div>









    </div>




    <div id='wrapper'>
        <div id='threes'>
            <span style="font-size:30px;cursor:pointer;display:inline" onclick="openNav()">&#9776;</span>
        </div>

        <div id='status'>
            Events Here
        </div>
        <div id='cy'>

        </div>
    </div>

    <script>

                var MyAppUrlSettings = {
                    Depth: 1,
                    currentTableType: 'sender',
                    maximumParticipants: 2000000000,
                    savedSearch: -1,
                    senderEntityID: -1,
                    recipientEntityID: -1

                } // Not really an error.

                function openNav() {
                    document.getElementById("mySidenav").style.width = "500px";
                    document.getElementById("wrapper").style.marginLeft = "500px";
                    document.getElementById("mySidenav").style.overflow = 'auto';
                    document.getElementById("threes").style.visibility = "hidden";
                    document.getElementById("status").style.visibility = "hidden";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.getElementById("wrapper").style.marginLeft = "0";
                    document.getElementById("mySidenav").style.overflow = 'hidden';
                    document.getElementById("threes").style.visibility = "visible";
                    document.getElementById("status").style.visibility = "visible";
                }





                //Register a listener for the end of the transition of wrapper.
                (function () {
                    var e = document.getElementById('wrapper');

                    function whichTransitionEvent() {
                        var t;
                        var el = document.createElement('fakeelement');
                        var transitions = {
                            'transition': 'transitionend',
                            'OTransition': 'oTransitionEnd',
                            'MozTransition': 'transitionend',
                            'WebkitTransition': 'webkitTransitionEnd'
                        }

                        for (t in transitions) {
                            if (el.style[t] !== undefined) {
                                return transitions[t];
                            }
                        }
                    }

                    var transitionEvent = whichTransitionEvent();
                    transitionEvent && e.addEventListener(transitionEvent, function () {
                        //alert('Transition complete!  This is the callback, no library needed!');
                        setupGraph();
                    });

                    startFade = function () {
                        e.className += ' hide';
                    }
                })();


                window.addEventListener("resize", resizeWindow);

                function resizeWindow()
                {
                    setupGraph();
                }



    </script>

	
	</body>
</html>